body {
  margin: 0;
  padding: 0;
  background-color: #3B4CCA;
}

button,
input {
  font-family: inherit;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  color: #ff0000;
  font-weight: bold;
}

.active {
  color: black !important;
  font-weight: bold;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.pokemon-card-bg {
  width: 350px;
}

.pokemon-card {
  padding: 30px 20px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: white;
}

.pokemon-card img {
  display: block;
  width: 180px;
  max-height: 200px;
  position: relative;
  margin: 20px auto;
}

.pokemon-card h2 {
  text-transform: capitalize;
}

.hero {
  background-image: url('../assets/all-pokemon.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50svh;
}

.hero h1 {
  color: white;
}

.hero-bg {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1rem;
}

.my-btn {
  text-decoration: none;
  color: white;
  text-shadow: black 0px 1px 5px;
  background-image: url('../assets/all-pokemon.jpg');
  background-position: center;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  margin-inline: 20px;
  height: 48px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-large;
  transition: ease .1s;
}

.my-btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #daff33 0 -3px 0 inset;
  transform: translateY(-2px);
}

.my-btn p {
  background-color: #012b393f;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.ranked-list {
  margin: 1rem;
  color: white;
}

table {
  background: #012B39;
  border-radius: 0.25em;
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}

td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}

.disabled td {
  color: #4F5F64;
}

tbody tr {
  transition: background 0.25s ease;
}

tbody tr:hover {
  background: #014055;
}

.battle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
  min-height: calc(100svh - 48px - 21px - 2rem);
}

.battle-container h1 {
  font-size: 24px;
  font-weight: bold;
  color: #fffd6a;
  /* Adjust color as needed */
  margin: 2rem;
  /* Add spacing between title and text */
}

.battle-container .text {
  font-size: 16px;
  color: #666;
  /* Adjust color as needed */
  margin: 20px;
  /* Add spacing between paragraphs */
  background-color: #d1d1d1;
  padding: 20px;
  border-radius: 10px;
}

.hp {
  width: 80px;
  background-color: #ffffff;
  text-align: center;
  padding: 8px 0;
  border-radius: 30px;
  margin-left: auto;
  font-weight: 400;
}

.poke-name {
  text-align: center;
  font-weight: 600;
}

.types {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 40px 0;
}

.hp span,
.types span {
  font-size: 12px;
  letter-spacing: 0.4px;
  font-weight: 600;
}

.types span {
  padding: 5px 20px;
  border-radius: 20px;
  color: #ffffff;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.stats p {
  color: #404060;
}

.btn {
  width: 100%;
}

.footer {
  text-align: center;
}

.pokemon-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.custom-tooltip {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-tooltip p {
  margin: 0;
}

.custom-tooltip .label {
  font-weight: bold;
}

.custom-tooltip .rank {
  color: #8884d8;
  /* Adjust color as needed */
}

.rank-container {
  display: flex;
  align-items: center;
  /* Align items vertically */
  background-color: #f0f0f0;
  /* Background color */
  padding-inline: 8px;
  /* Add some padding for spacing */
  border-radius: 4px;
  /* Add rounded corners */
  margin: 8px;
}

.rank-label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  /* Adjust color as needed */
  margin-right: 8px;
  /* Add some space between label and value */
  padding: 8px;
  margin: 0;
}

.rank-value {
  font-size: 18px;
  color: #8884d8;
  /* Adjust color as needed */
  padding-right: 8px;
  margin: 0;
}

.recharts-wrapper {
  background-color: #0000005e;
  /* Background color */
  padding: 20px;
  /* Add padding for spacing */
  border-radius: 8px;
  /* Add rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Add a subtle box shadow */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin-inline: 1rem;
}

.modal-close-btn {
  border: none;
  background-color:#3B4CCA;
  color: #FFDE00;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: large;
  font-weight: bold;
  margin-block-start: 0.83em;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
}

.modal-close-btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
  transform: translateY(-2px);
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  animation: rotate 2s linear infinite;
  width: 50px;
  height: 50px;
}

.path {
  stroke: #888;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.global-stats {
  display: flex;
  flex-wrap: wrap;
}


@media screen and (max-width: 768px) {
  .cards-container {
    gap: .5rem;
    /* Adjust gap between cards */
  }

  .pokemon-card-motion {
    width: calc(50% - 0.5rem);
    /* Adjust card width to fit the screen */
  }

  .pokemon-card-bg {
    width: auto;
  }

  .pokemon-card {
    padding: 10px;
    /* Adjust padding for smaller screens */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    /* Adjust box shadow */
    border-radius: 8px;
    /* Adjust border radius */
  }

  .pokemon-card img {
    width: 100%;
    /* Make image responsive */
    max-width: 200px;
    /* Set max-width for image */
    height: auto;
    /* Maintain aspect ratio */
    margin: 0 auto 10px;
    /* Adjust margin */
  }

  .pokemon-card h2 {
    font-size: 1.2rem;
    /* Adjust font size */
  }

  .stats,
  .hp {
    font-size: small;
  }

  .battle-container .text {
    font-size: small;
    margin: .5rem;
    padding: 10px;
  }

  .navbar li a {
    padding: 12px 14px;
  }

  .footer p {
    font-size: small;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 700px;
  align-items: center;
  margin: auto;
}

.gen {
  border-radius: 1rem;
  width: 100px;
  height: 100px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: 200ms all;
}

.gen:hover {
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}

.icon {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  margin:auto;
  transition: 200ms all;
}

.icon:hover{
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}

.icon img {
  height: 60%;
  width: 60%;
  margin: 20%;
}

.bug {
  background: #92BC2C;
  box-shadow: 0 0 20px #92BC2C;
}

.dark {
  background: #595761;
  box-shadow: 0 0 20px #595761;
}

.dragon {
  background: #0C69C8;
  box-shadow: 0 0 20px #0C69C8;
}

.electric {
  background: #F2D94E;
  box-shadow: 0 0 20px #F2D94E;
}

.fire {
  background: #FBA54C;
  box-shadow: 0 0 20px #FBA54C;
}

.fairy {
  background: #EE90E6;
  box-shadow: 0 0 20px #EE90E6;
}

.fighting {
  background: #D3425F;
  box-shadow: 0 0 20px #D3425F;
}

.flying {
  background: #A1BBEC;
  box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
  background: #5F6DBC;
  box-shadow: 0 0 20px #5F6DBC;
}

.grass {
  background: #5FBD58;
  box-shadow: 0 0 20px #5FBD58;
}

.ground {
  background: #DA7C4D;
  box-shadow: 0 0 20px #DA7C4D;
}

.ice {
  background: #75D0C1;
  box-shadow: 0 0 20px #75D0C1;
}

.normal {
  background: #A0A29F;
  box-shadow: 0 0 20px #A0A29F;
}

.poison {
  background: #B763CF;
  box-shadow: 0 0 20px #B763CF;
}

.psychic {
  background: #FA8581;
  box-shadow: 0 0 20px #FA8581;
}

.rock {
  background: #C9BB8A;
  box-shadow: 0 0 20px #C9BB8A;
}

.steel {
  background: #5695A3;
  box-shadow: 0 0 20px #5695A3;
}

.water {
  background: #539DDF;
  box-shadow: 0 0 20px #539DDF;
}